.workspace-card {
    width: 30%;
    height: 170px;
    padding: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $light-gray;
    border: 1px solid $home-gray;
    border-radius: 10px;

    .header-container{
        height: 30%;
        display: flex;
        p{
            font-weight: 800;
        }
        span{
            font-size: 12px;
        }
        .workspace-avatar{
            width: 30px;
            height: 30px;
        }
    }

    .footer-container{
        height: 30%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .MuiAvatarGroup-root{
            background-color:  #EEEEEE;
            padding: 4px;
            border-radius: 6px;
        }

        .MuiAvatarGroup-avatar{
            width: 26px;
            height: 26px;
        }

        .info{
            font-size: 12px;
            color: $home-gray;
        }
    }

}