// Colors
$dark-gray: rgb(55, 53, 47);
$medium-gray: rgba($dark-gray, 0.4);
$home-gray: #B6B6B6;


// Padding

// Font
$normal-font-size: 0.875rem;
$menu-font-weight: 600;
$back-up-fonts: "Helvetica, sans-serif";
